@import "assets/fonts/stylesheet.css";
html, body {
  margin: 0;
  padding: 0;
  background-color: #141518;
}
canvas {
  display: block;
}

button {
  background-color: #000000;
  color: white;
  text-decoration: none;
  border: 2px solid #4287f5;
  font-family: "JetbrainsMono Nerd Font";
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4287f5;
}

.title {
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: bold;
  color: #ffffff;
}

.centre-container {
  display: flex;
  justify-content: center;
}

.colorpicker {
  background-color: #000000;
  color: white;
  text-decoration: none;
  border: 2px solid #4287f5;
  font-family: "JetbrainsMono Nerd Font";
  transition-duration: 0.4s;
}

.option-button {
  background-color: #000000;
  color: white;
  text-decoration: none;
  border: 2px solid #4287f5;
  font-family: "JetbrainsMono Nerd Font";
  transition-duration: 0.4s;
  padding: 5px;
}